@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:'Noto';
}
header{
    background-color: aquamarine;
    height: 100vh;
    width: 100%;
    position: relative;
    
}
.container nav{
    list-style: none;
    text-decoration: none;
    background-color: yellowgreen;
    text-align: center;
    
}

.container nav ul li{
    display: inline-block;
    margin:1.5rem 1rem 1rem 1rem;
    transition: .9s ease;
       
}
.container nav ul li a{
    text-decoration: none;
    
}
.container .toggle_button button{
    
    background-color: bisque;
    display: none; 
    
}
.search{
    margin-top: 1rem;
    text-align: center;
}
.search input{
    height: 2rem;
    width: 25rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
}
.search input::placeholder{
    color: brown;
    padding: 1rem;
    margin: 1rem;
}
.circle{
    background-color: yellow;
    border-radius: 100%;
    height: 5rem;
    width: 5rem;
    margin-left: 15rem;
}
.circle2{
    background-color: yellow;
    border-radius: 100%;
    height: 7rem;
    width: 7rem;
    margin:5rem 0rem 0rem 60rem;
   
}

.main_content{
   
    height: 20vh;
    width: 20vw;
    margin:1rem auto auto auto;
}
footer{
    color:azure;
    background-color: rgb(32, 32, 32);
    font-size: 2rem;
    text-align: center;
    
}
.facebook,.youtube,.twitter{
    margin: 1rem;
}

@media  screen and (max-width:409px) {
    
    .container nav{
        list-style: none;
        text-decoration: none;
        display: block;
        height: 100vh;
        background-color: yellowgreen;
        text-align: center;
        
    }
    
    .container nav ul li{
       
        transition: .9s ease;
           
    }
    .container nav ul li a{
        text-decoration: none;
         display: block;
        
    }
    .container .toggle_button button{ 
        font-size: 2rem;
        display:block; 
        text-align: center;
        margin-right:5rem;
        border: white;
        color: rgb(114, 223, 223);
    }
    .search,.main_content,.circle,.circle2{
        display: none;
    }
}